layout {
    tab name="Rust" {
        pane split_direction="vertical" { 
            pane edit="src/main.rs" size="60%" focus=true
            pane split_direction="horizontal" size="40%"{ 
                pane edit="./Cargo.toml"
                pane command="cargo" {
                    args "run"
                }
                pane command="bacon"
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
    	}
	}
}
